<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body { margin: 0; font-family: Arial, Helvetica, sans-serif; background-color: WHITE;
}
.header { background-color: #d9d7d7;  height:130px;  }

.button { background-color: #424242; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none;
          border-radius:30px;   display: inline-block; font-size: 16px;   cursor: pointer;   float: right; margin-top:50px; }

.button:hover { background-color: #171717;  }

.logo{margin-top:-10px;}

#botao1{margin-right:0.5%;}
#botao2{margin-left:1%; margin-right:2%;}

.login h2{ color: white;  text-align: center;
}

.login p {color:white; margin-bottom:0.5%;}

.login{ width:50%; padding: 30px;	margin-top:4%;	margin-right: 24%;   margin-left:20px;  margin-bottom: 50px;   float:right; background-color:#01A9B2;
}

#btn { margin-right:100px; background-color:green; color: white;  padding: 14px 20px;  margin: 8px 0;  border: none;  cursor: pointer;  width:30%;
	text-align: center; 	border-radius:3px;   font-weight: bold; float:right;
}

</style>

<title>Editar Aluno</title>
<link rel="sortcut icon" href="/imagens/logoiconn.png" type="image/png"/>
</head>
<body>
<div class="header">
<img src="/imagens/logo.png" class="logo" width="300" height="180" />
  <a href="/logar"><button id="botao2" class="button">SAIR</button></a>
<a href="/listarAluno"><button id="botao1"class="button">VOLTAR</button></a>

</div>

<div class="login">

 <form action='/editarAluno' method='post' >

<h2>EDITAR ALUNO </h2>
<br>
 <% for(var i=0;i<busca.length;i++){ %>

  <p>RM:</p>
  <input name="rm_aluno" value="<%=busca[0].rm_aluno %>" style="resize: none; width:100%; height: 30px;"></input>

<p>NOME:</p>
 <input name="nome_aluno"  value="<%=busca[0].nome_aluno %>" style="resize: none; width:100%; height: 30px;" > </input>


<p>SOBRENOME:</p>
  <input name="sobrenome_aluno" value="<%=busca[0].sobrenome_aluno %>" style="resize: none; width:100%; height: 30px;"> </input>

<p>Série</p>
        <select style="resize: none; width:100%; height: 40px;" name="serie_aluno"> <br>
        <option value="volvo"><%=busca[0].serie_aluno %></option>
        <option value="1Info" id="apple">1° ano - INFO</option>
	    <option value="1Log" id="apple">1° ano - LOG</option>
        <option value="2Info" id="orange">2° ano - INFO</option>
		 <option value="2Log" id="orange">2° ano - LOG</option>
	    <option value="3Info" id="orange">3° ano - INFO</option>
		<option value="3Log" id="orange">3° ano - LOG</option>
          </select>

<p>Turma</p>
          <select style="resize: none; width:100%; height: 40px;" name="turma_aluno"> <br>
          <option><%=busca[0].turma_aluno %></option>
          <option value="a" id="apple">A</option>
	      <option value="b" id="apple">B</option>
          </select>

  <button type="submit" id="btn" class="btn">EDITAR</button>
	</div>
</form>
  <% } %>
</div>
</body>
</html>
