<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Cadastrar Prova</title>
<link rel="sortcut icon" href="/imagens/logoiconn.png" type="image/png"/>

<style>
* {  box-sizing: border-box; }

 body {margin: 0;      font-family: Arial, Helvetica, sans-serif;        background-color: WHITE;    }

h2 { background-color: #333333; margin-top:7%; padding:1%; color:white; margin-bottom:0.2%;
}

.header { background-color: #d9d7d7;  height:130px;  }

.logo{margin-top:-10px;}

.botaobuscar{float:right; height:8 px; width: 3%; padding: 5px; background: #2196F3;  color: white;  font-size: 17px;  border: 1px solid grey; margin-right:6%;}

.buscar{float: right; margin-right:25%; height:8 px; width: 3%;  padding: 5px; background: #2196F3;  color: white;  font-size: 17px;  border: 1px solid grey;
         border-left: none; cursor: pointer; margin-top:-0.1%;}

.barrabuscar{float:right; width:25%; height:32px; background-color: white;}

.select{width:10%; height:30px; margin-left:2%; background-color: white}

#btn { float:right;     background-color: green;      color: white;      padding: 14px 20px;      margin: 8px 0;      border: none;
        cursor: pointer;  width: 17%;    text-align: center;    border-radius: 3px;    font-weight: bold;     margin-right: 9%; margin-top:4%;}

#btn:hover{opacity: 0.8;}

#botao1{margin-right:0.5%;}
#botao2{margin-left:1%; margin-right:2%;}

.button { background-color: #424242; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none;
          border-radius:30px;   display: inline-block; font-size: 16px;   cursor: pointer;   float: right; margin-top:50px;
		  }
.button:hover { background-color: #171717;  }

table { border-collapse: collapse;  width: 100%; border: 1px solid #ddd; background-color:#d9d7d7;
margin-top:-150px; float:left;
}

th, td { text-align: left;   padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.label{margin-top:4%; margin-left:2%;}
.label2{ font-weight: bold;}

input {height:30px;}

    </style>
  </head>

  <body>
    <div class="header">
<img class="logo" src="imagens/logo.png" width="300" height="180">
  <a href="/logarProfessor"><button id="botao2" class="button">SAIR</button></a>
<a href="/indexProf"><button id="botao1"class="button">VOLTAR</button></a>

</div>
<form action="/cadastroprova" method="GET"></form>
<br><br><br><br><br><br>


<%
  convertQuestionToJSON = function(value) {
    value = JSON.stringify(value);

    return value;
  }
  %>

<form action="/cadastroprova" method="POST" onended="alert('Thank you for your feedback.')">
        <br>
        <hr>
        <h2>CADASTRAR PROVA</h2>
        <div>
        <p>
          <button type="submit" id="btn">SALVAR PROVA</button>
        </p>
      </div>

     <br>     <br>     <br>
      <div class="label">
         <input type="number" hidden id="rm_professor" name="rm_professor" />
         <h3>Menções:</h3>  <label for="">MB</label>
          <input type="number" name="mencao_mb" min="1"  placeholder="Pontos" />
          &nbsp;
          <label for="">B</label>
          <input type="number" name="mencao_b" min="1"  placeholder="Pontos" />
          &nbsp;
          <label for="">R</label>
          <input type="number" name="mencao_r" min="1"  placeholder="Pontos" />
          &nbsp;
          <label for="">I</label>
          <input type="number" disabled  min="1"  placeholder="< R" />
      </div>
	   <div class="label">
          <h3>Turma:</h3>
          <select style="resize: none; width:10%; height: 35px;" name="turma">
            <br>
          <option value="a">A</option>
	        <option value="b">B</option>
          </select>
      </div>
      <br>
      <br>

      <form method="post" action="/listarQuestoesf">
        <button class="botaobuscar" type="submit"><i class="fa fa-search"></i></button>
        <input class="barrabuscar" type="text" placeholder="Buscar...">
      </form>

      <form method="post" action="/listarQuestoesc">
        <select name="serie" class="select">
          <option value="" >Série</option>
          <option name="1° Ano" id="apple">1° Ano</option>
          <option name="2° Ano" id="orange">2° Ano</option>
         <option name="3° Ano" id="orange">3° Ano</option>
        </select>

        <select name="disciplina" class="select">
          <option value="">Disciplina</option>
          <option name="Fisíca" id="apple">Fisíca</option>
          <option name="Quimíca" id="orange">Quimíca</option>
        <option name="GSO" id="orange">GSO</option>
        </select>

        <select name="bimestre" class="select">
          <option value="">Bimestre</option>
          <option name="1° Bimestre" id="apple">1° Bimestre</option>
          <option name="2° Bimestre" id="orange">2° Bimestre</option>
         <option name="3° Bimestre" id="orange">3° Bimestre</option>
         <option name="4° Bimestre" id="orange">4° Bimestre</option>
        </select>
        <button class="buscar" type="submit"><i class="fa fa-search"></i></button>
      </form>

    </div>
    <div style="overflow-x:auto; padding:100px; width: 90%; margin: auto;">

  <table>
      <tr>
        <th>SELECIONAR</th>
		</tr>
          <% for(var i=0; i < busca2.length; i++){ %>
            <tr>
        <td>
          <input type="checkbox" value="<%= convertQuestionToJSON(busca2[i].id_questoes) %>"
            name="questao_descricao"
            id="<%= busca2[i].id_questoes %>"
            />

              <label for="<%= busca2[i].id_questoes %>">
                  <%= busca2[i].questao %>
                  <div class="label2">
                    (Peso: <%= busca2[i].pontuacao %> )
                  </div>
              </label>
          </td>
          <td>
            <label for="<%= busca2[i].disciplina %>">
              <strong>Disciplina:</strong> <%= busca2[i].disciplina %></label>
          </td>
              <br>
          <% } %>
      </div>
    </form>
    <script>

      var rm_professor = localStorage.getItem('rm_professor');
      document.getElementById("rm_professor").value = rm_professor;
    </script>
  </body>
</html>
