<!DOCTYPE html>
<html lang="pt-br">
<style>

body { margin: 0;   font-family: Arial, Helvetica, sans-serif;   background-color: WHITE;
}

.header { background-color: #d9d7d7;  height:130px;  }

h2 { background-color: #333333; margin-top:7%; padding:1%; color:white; margin-bottom:0.2%;
}

.button { background-color: #424242; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; 
          border-radius:30px;   display: inline-block; font-size: 16px;   cursor: pointer;   float: right; margin-top:50px; }

.button:hover { background-color: #171717;  }

.logo{margin-top:-10px;}

#botao1{margin-right:0.5%;}
#botao2{margin-left:1%; margin-right:2%;}

table { border-collapse: collapse;  width: 100%; border: 1px solid #ddd; background-color:#d9d7d7; 
margin-top:-47px;
}

th, td { text-align: left;   padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.botaoalterar{width:100%; background-color:green; color: white; border: none; padding: 8px 12px; cursor: pointer;  border-radius:5px;  font-weight: bold;}
.botaoalterar:hover{opacity : 0.7;}

.botaodeletar{width:100%; background-color:red; color: white; border: none; padding: 8px 12px; cursor: pointer;  border-radius:5px; font-weight: bold;}
.botaodeletar:hover{opacity : 0.7;}

.buscar{float: right; margin-right:25%; height:8 px; width: 3%;  padding: 5px; background: #2196F3;  color: white;  font-size: 17px;  border: 1px solid grey;  
         border-left: none; cursor: pointer; margin-top:-0.1%;}

.select{width:10%; height:30px; margin-left:2%; background-color: #f2f2f2}

.botaobuscar{float:right; height:8 px; width: 3%; padding: 5px; background: #2196F3;  color: white;  font-size: 17px;  border: 1px solid grey; margin-right:6%;}
.barrabuscar{float:right; width:25%; height:26px; background-color: white;}

</style>
<head>
  <title>QUESTÕES CADASTRADAS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="sortcut icon" href="/imagens/logoicon.png" type="image/png"/>
</head>
<body>
<div class="header">
<img class="logo" src="imagens/logo.png" width="300" height="180">
  <a href="/logarProfessor"><button id="botao2" class="button">SAIR</button></a>
<a href="/indexProf"><button id="botao1"class="button">VOLTAR</button></a>

</div>
<br><br><br><br><br><br>

<form method="post" action="/listarQuestoesf">
  <button class="botaobuscar" type="submit"><i class="fa fa-search"></i></button>
  <input class="barrabuscar" type="text" placeholder="Buscar..." name="btnBuscar" id="btnBuscar">
</form>

<form method="post" action="/listarQuestoesc">
  <select name="serie" class="select">
    <option value="" >Série</option>
    <option name="1° Ano" id="apple">1° Ano</option>
    <option name="2° Ano" id="orange">2° Ano</option>
	 <option name="3° Ano" id="orange">3° Ano</option>
  </select>

  <select name="disciplina" class="select">
    <option value="">Disciplina</option>
    <option name="Fisíca" id="apple">Fisíca</option>
    <option name="Quimíca" id="orange">Quimíca</option>
	<option name="GSO" id="orange">GSO</option>
  </select>

  <select name="bimestre" class="select">
    <option value="">Bimestre</option>
    <option name="1° Bimestre" id="apple">1° Bimestre</option>
    <option name="2° Bimestre" id="orange">2° Bimestre</option>
	 <option name="3° Bimestre" id="orange">3° Bimestre</option>
	 <option name="4° Bimestre" id="orange">4° Bimestre</option>
  </select>
  <button class="buscar" type="submit"><i class="fa fa-search"></i></button>
</form>

  <h2>Questões cadastradas</h2>         
  <div style="overflow-x:auto; padding:90px;">
  <table>
      <tr>
        <th>Questão</th>
        <th>Alternativa A</th>
	    <th>Alternativa B</th>
	    <th>Alternativa C</th>
	    <th>Alternativa D</th>
	    <th>Alternativa E</th>
	    <th>Disciplina</th>
		<th>Bimestre</th>
		<th>Pontos</th>
		<th>Série</th>
		<th>Alternativa Correta</th>
		<th colspan="3" style="text-align:center">AÇÕES</th>
      </tr>
	  <% for(var i=0;i<busca3.length;i++){ %>
  
      <tr>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"> <%= busca3[i].questao %></textarea></td>  
      <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].alternativa_a %></textarea></td>
      <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].alternativa_b %></textarea></td>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].alternativa_c %></textarea></td>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].alternativa_d %></textarea></td>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].alternativa_e %></textarea></td>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].disciplina %></textarea></td>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].bimestre %></textarea></td>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].pontuacao %></textarea></td>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].serie %></textarea></td>
	  <td><textarea style="resize:none;" disabled rows="4" cols="10"><%= busca3[i].correta %></textarea></td>
	  <td> <a href="/buscaEditar/<%=busca3[i].id_questoes %>"><button class="botaoalterar">Alterar</button></a>
	  <td><a href="/deletarQuestoes/<%=busca3[i].id_questoes %>"><button class="botaodeletar">Deletar</button></a>
	 
      </tr>
	</div>
	  <% } %>
  </table>


</body>
</html>